* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Alegreya", serif;
  /* font-family: "Berkshire Swash", serif; */
}

/* .harmburgerDeviceModal {
  display: inline;
} */

body {
  display: flex;
  flex-direction: column;
  background-color: #faf8f1;
}

header {
  height: 15vh;
  width: 80%;
  position: fixed;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 19px 40px -3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  z-index: 999;
  background-color: #ffffff;
}
.menu {
  display: none;
}

.menuModal {
  display: none;
}

.main {
  position: relative;
  margin-top: 17vh;
  /* border: 1px solid red; */
  width: 80%;
  left: 10%;
}

.logo,
nav {
  height: max-content;
  width: max-content;
  padding: 20px;
}

.socialMediaModal {
  cursor: pointer;
  border: 1px solid #cec097;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
}

.socialMediaModal:hover {
  background: #cec097;
  color: white;
}

.logo p {
  font-size: 3em;
  font-weight: bolder;
  color: #cec097;
}

.logo span {
  font-size: 0.5em;
  font-weight: lighter;
  color: #bdceb4;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 21px;
  font-family: "Berkshire Swash", serif;
  color: #222;
  cursor: pointer;
}

.banner {
  /* margin-top: 17vh; */
  height: 70vh;
  width: 100%;
  position: relative;
  /* left: 10%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px 0 0 20px;
  box-shadow: -60px 7px 76px -3px rgba(0, 0, 0, 0.1);
}

.banner .banner-division {
  width: 50%;
  height: inherit;
}

.banner .left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.banner .left h1 {
  font-size: 5em;
}

.banner .left p {
  font-size: 1.5em;
  padding: 5px;
}

.bannerBtn {
  padding: 10px;
  border: 2px solid #cec097;
  background: #faf8f1;
  transition: 0.5s;
  cursor: pointer;
  font-size: 0.8em;
  color: #333;
}

.bannerBtn:hover {
  background: #cec097;
  color: white;
}

.right {
  background-color: #bdceb4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
}

.right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: max-content;
  padding: 10px 0;
  /* width: 80%; */
  /* left: 10%;  */
  margin: 2vh 0;
}

.what-we-do .box {
  height: 30vh;
  width: 45%;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  background-color: #fcfbf7;
  cursor: pointer;
}

.what-we-do .box h3 {
  color: #cec097;
}

.what-we-do .box:hover {
  transform: scale(1.1);
}

.what-we-do .box img {
  height: 50px;
  width: 50px;
  background-color: #bdceb4;
  padding: 10px;
}

.what-we-do .read-more {
  width: max-content;
  padding: 10px;
  margin-top: 2vh;
  background-color: white;
  cursor: pointer;
}

.experience {
  margin: 2vh 0;
  height: 20vh;
  /* width: 80%; */
  position: relative;
  /* left: 10%; */
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
}

.experience .experienceBox {
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience .experienceBox h1 {
  font-size: 4em;
  color: #4d756a;
}

.experience .experienceBox p {
  color: #cec097;
}

.prices {
  padding: 20px;
  height: max-content;
  position: relative;
  /* left: 10%; */
  /* width: 80%; */
  box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
  margin: 5vh 0;
}

.priceHead {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.priceHead h2 {
  font-size: 2em;
}

.pricings {
  display: flex;
  justify-content: space-between;
}

.pricingBox {
  height: max-content;
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 2vh 10px;
  text-align: left;
}

.pricingBox h1,
h3 {
  font-size: 2em;
}

.pricingBox ol {
  list-style-type: none;
  padding: 20px;
}

.pricingBox ol li:before {
  content: "✔️ ";
  display: inline-block;
  width: 1em;
  margin-left: -1.3em;
  margin-top: 10px;
}

.pricingBox a {
  display: inline-block;
  background-color: #61917b;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.pricingBox a:hover {
  background-color: #4d756a;
}

.customerTestimonial {
  height: max-content;
  /* width: 80%; */
  position: relative;
  /* left: 10%; */
  margin: 5vh 0;
  box-shadow: 0px -67px 30px -45px rgba(0, 0, 0, 0.1);
}

.customerTestimonialHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.customerTestimonialHead p {
  color: #4d756a;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.3em;
}

.textimonial {
  height: 50vh;
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  justify-content: space-around;
  background-image: radial-gradient(#4d756a 1px, transparent 1px);
  background-size: 10px 10px;
  padding: 1px;
}

.textimonial .testimonialBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.textimonial .testimonialBox:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
  width: 2px;
  background-color: #4d756a;
}

.textimonial .testimonialBox .head {
  height: max-content;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.textimonial .testimonialBox .head img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.textimonial .testimonialBox .content {
  flex: 1;
  width: 100%;
  padding: 20px;
}

.textimonial .testimonialBox .content p {
  margin: 0 10px 10px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.textimonial .testimonialBox .content h3 {
  color: #4d756a;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 0.1rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.ModalContainer {
  position: absolute;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.socialMedia {
  padding: 20px;
  height: max-content;
  width: 80%;
  position: relative;
  top: 2vh;
}

.socialMedia a {
  font-size: 1em;
  line-height: 3;
  color: #333;
}

footer {
  height: max-content;
  width: 80%;
  position: relative;
  left: 10%;
  margin: 5vh 0 0 0;
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #fff !important;
  background-color: #488877;
}

footer .section {
  flex: 1;
  height: 35vh;
  padding: 10px;
}

footer h2 {
  font-size: 1.6em;
  text-decoration: underline;
  margin: 10px 0;
}

footer a {
  margin: 10px 0;
}

footer p {
  margin: 20px 0;
  font-size: 1em;
}

footer .letstalk {
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  transition: 0.5s;
}

.footersocial {
  display: flex;
  padding: 10px;
  height: max-content;
  width: max-content;
}

.footersocial .box {
  flex: 1;
  height: 35px;
  width: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #fff;
}

.footersocial .box a {
  font-size: 1em;
  border: none !important;
  color: #fff;
}

.footersocial .box a:hover {
  color: #fff;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item svg {
  margin-right: 10px;
  color: #fff;
}

.devrefrence {
  height: max-content;
  padding: 20px;
  position: relative;
  width: 80%;
  left: 10%;
  height: 5vh;
  border: 2px solid #488877;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devrefrence .refrence {
  height: max-content;
  flex: 1;
}

/*about page*/
.about-head {
  height: max-content;
  padding: 10px;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-name,
.site-desc {
  height: max-content;
  padding: 10px;
  /* border: 1px solid black; */
}

.site-name {
  width: max-content;
}

.site-name h1 {
  font-size: 5em;
}

.site-desc {
  width: 30%;
}

.about-banner {
  margin: 20px 0;
  height: 50vh;
  /* padding: 10px; */
  /* border: 1px solid green; */
  width: 100%;
  background-image: url(images/about-banner-img.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 100px -100px rgba(0, 0, 0, 0.1);
}

/* .about-banner img {
  height: inherit;
  width: inherit;
} */

.about-owner {
  width: 100%;
  height: max-content;
  padding: 10px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.owner-image {
  height: 50vh;
  width: 25%;
  /* border: 1px solid blue; */
  background-color: #222;
  border-radius: 20px;
  box-shadow: 0px 0px 100px -100px rgba(0, 0, 0, 0.1);
}

.owner-image img {
  height: inherit;
  width: 100%;
}

.owner-desc {
  height: max-content;
  width: 40%;
  /* border: 1px solid green; */
}

.start-projects {
  height: max-content;
  margin: 10px 0;
  /* padding: 10px; */
  width: max-content;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-projects .box {
  height: max-content;
  width: max-content;
  /* border: 1px solid #222; */
  margin: 0 10px;
}

.start-projects .box p {
  font-weight: bold;
}

.start-projects .box h2 {
  font-weight: bolder;
  font-size: 2em;
}

/* gallery page */
.gallery-container {
  height: max-content;
  padding: 20px;
  border: 1px solid #222;
  background-color: #494747;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px -100px rgba(0, 0, 0, 0.1);
}

.gallery-head {
  margin: 10px;
  height: max-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
}

.gallery-head h2 {
  font-size: 3em;
}

.gallery-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
  margin: 10px;
  border-radius: 20px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Modal */
.image-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.image-modal .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.image-modal .close:hover,
.image-modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.closeMenu {
  display: none;
}

@media screen and (max-width: 700px) {
  .image-modal .modal-content {
    width: 100%;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .right img {
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 992px) {
  header {
    width: 100%;
    left: 0;
  }

  .main {
    width: 100%;
    position: relative;
    left: 0;
  }

  .about-head {
    flex-direction: column;
  }

  .site-name {
    width: 100%;
  }

  .site-name h1 {
    font-size: 3em;
  }

  .site-desc {
    width: 100%;
    height: max-content;
  }

  .about-owner {
    flex-direction: column;
    width: 100%;
  }

  .owner-image {
    width: 100%;
  }

  .owner-desc {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
  }

  /* nav {
    display: none;
  } */

  .harmburgerDeviceModal {
    position: absolute;
    height: max-content;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  .harmburgerDeviceModal ul {
    display: flex;
    flex-direction: column;
  }

  .harmburgerDeviceModal ul li {
    margin: 15px;
    font-size: 2em;
  }

  .closeMenu {
    display: inline;
    color: red;
    font-size: 5em;
  }

  .menu {
    display: inline;
    padding: 15px;
    /* border: 1px solid grey; */
    /* background-color: #222; */
  }

  .menu button {
    border: none;
    background-color: none;
    padding: 10px;
  }

  /* nav ul a {
    margin: 5vh 0;
    padding: 10vh 0;
  } */

  /* .socialMediaModal {
    border: none;
  } */

  .banner {
    width: 100%;
    left: 0;
  }

  footer {
    margin-top: 20px;
  }

  footer,
  .devrefrence {
    display: flex;
    flex-direction: column;
  }

  .experience {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 20px;
  }

  .experience .experienceBox {
    margin: 10px;
  }

  .customerTestimonial {
    position: relative;
    bottom: 20vh 0;
    height: max-content;
    padding: 20px;
    margin-bottom: 70vh;
  }

  .what-we-do .box {
    height: max-content;
    margin: 10px 0;
  }

  .devrefrence {
    height: max-content;
  }

  .what-we-do,
  .experience,
  .prices,
  .customerTestimonial,
  .socialMedia,
  footer,
  .devrefrence {
    width: 100%;
    left: 0;
  }
  .pricings {
    flex-direction: column;
  }
  .pricingBox {
    margin: 2vh 0;
  }
}

@media (max-width: 768px) {
  .logo p {
    font-size: 2em;
  }
  .banner .left h1 {
    font-size: 3em;
  }
  .banner .left p {
    font-size: 1em;
  }
  .bannerBtn {
    font-size: 0.7em;
  }
  .right img {
    max-width: 100%;
  }
  .what-we-do .box {
    width: 90%;
  }
  .experience .experienceBox h1 {
    font-size: 2em;
  }
}

@media (max-width: 576px) {
  .banner {
    flex-direction: column;
  }
  .banner .banner-division {
    width: 100%;
  }
  .textimonial {
    flex-direction: column;
  }
  .textimonial .testimonialBox:not(:last-child)::after {
    display: none;
  }
  .show-modal {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
